!!! 5
html(lang="en")
    head
        title ElderMud
        script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js")
        script(type="text/javascript", src="/socket.io/socket.io.js")
        script(type="text/javascript", src="/chat.js")
    body
        #heading
            h1 Welcome to ElderMud!
        #content(width="500px")
            p
                textarea(name="console", readonly="readonly")
            p
                input(name="cmd", type="text")
        #footer
            p
                span#client_count 0 connected clients