!!! 5
html(lang="en")
  head
    title ElderMud
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js")
    script(type="text/javascript", src="/socket.io/socket.io.js")
    script(type="text/javascript", src="/example2.js")
  body
    #heading
      h1 Welcome to ElderMud!
    #content
      #categories
        ul#category_list
      #feed
        ul#feed_list
    #footer
      p
        span#client_count 0
        |  connected clients
